body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: darkslategrey;
}

.nav-container{
    margin-bottom: 40px;
}
h2{
    margin-bottom: 10px;
}
.nav1{
    background-color: #f3f9ff;
    
}

.nav1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.nav1 li{
    display: inline;


}
.nav1 a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 5px 15px;
    position: relative;
}

.nav1 a::after{
    content: "abc";
    position:absolute;
    bottom: 0;
    left: 0;
    background-color: blueviolet;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.nav1 a:hover::after{
    transform:scaleX(1) ;

}

.nav2{
    border: 2px solid;
    background-color: #a458d6;
    width: 200px;
    padding: 20px;
    text-align: center;
}
.nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav2 li{
    margin-bottom: 12px;

}
.nav2 a{
    text-decoration: none;
    color: beige;
    display: block;
    padding: 10px;
    width: 100px;
}
.nav2 a:hover{
    background-color: green;
}
.nav2 .login-btn{
    background-color: green;
    color: #f3f9ff;
    padding: 10px;
    border:none ;
    width: 100%;
    cursor: pointer;
}
.nav3{
    background-color: seagreen;
    padding: 10px;

}
.nav3 ul{
    list-style-type: disc;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav3 a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    display: block;
}
.nav3 .dropdown-content{
    display: none;

}
.nav3 .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    color: white;
    color: antiquewhite;
    min-width: 150px;
}